# lambda function

In [1]:
#square using map

s=lambda x:x*x

print(s(4))

16

In [2]:
add=lambda a,b:a+b
print("adition= ",add(10,20))

adition=  30

In [3]:
cube=lambda a:a*a*a
print("cube of number is = ",cube(2))

cube of number is =  8

In [4]:
maxNum=lambda x,y:x if x>y else y
print("greater number is = ",maxNum(20,38))
print("greater number is = ",maxNum(200,38))

greater number is =  38
greater number is =  200

# map function

In [5]:
l=[1,2,3,4,5,6]

r=map(lambda a:a*a,l)
print(r)

<map object at 0x0000012D8F2FB280>

In [6]:
r=list(map(lambda a:a*a,l))
print(r)

[1, 4, 9, 16, 25, 36]

In [7]:
r=tuple(map(lambda a:a*a,l))
print(r)

(1, 4, 9, 16, 25, 36)

In [8]:
r=map(lambda a:a*a,l)
print(list(r))

[1, 4, 9, 16, 25, 36]

In [9]:
#cube using map
##1)
t=(1,2,3,4,5)

def cube(a):
    return a*a*a

m=list(map(cube,t))
print(m)
# print(list(map(cube,t)))        #same anwer as [1, 8, 27, 64, 125]

[1, 8, 27, 64, 125]

In [10]:
##2)
re=list(map(lambda a:a*a*a,t))
print(re)

[1, 8, 27, 64, 125]

# filter function

In [11]:
#program to find even number from list or tuple

In [12]:
l=[1,2,3,4,5,6,7,8,9,10]

re=filter(lambda a:a%2==0,l)
print(re)

<filter object at 0x0000012D8F33C0A0>

In [13]:
l=[1,2,3,4,5,6,7,8,9,10]

re=list(filter(lambda a:a%2==0,l))
print(re)

[2, 4, 6, 8, 10]

In [14]:
#program to find adults

In [15]:
# 1)
l =[9,29,13,18,12,19,33,11]

def cheakAdults(a):
    if a<18:
        return False
    else:
        return True
    
adults=filter(cheakAdults,l)

print("adults peoples= ")
for i in adults:
    print(i,end=' ')

adults peoples=
29 18 19 33

In [16]:
adults=list(filter(cheakAdults,l))
print(adults)

[29, 18, 19, 33]

In [17]:
# 2)

ad=list(filter(lambda a:a<18,l))
print("not adultes peoples are= ",ad)

not adultes peoples are=  [9, 13, 12, 11]

In [18]:
ad=list(filter(lambda a:a>=18,l))
print("adultes peoples are= ",ad)

adultes peoples are=  [29, 18, 19, 33]

In [21]:
#program to filters vowels

def fun(variable):
    vowels=['a','e','i','o','u']
    if variable in vowels:
        return True
    else:
        return False
    
l=['e','f','w','a','e','u']
result=filter(fun,l)
print(list(result))

['e', 'a', 'e', 'u']

In [24]:
result=list(filter(fun,l))
print(result)

['e', 'a', 'e', 'u']